.search {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 500px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
    
    
}

.click{
    border: 1px solid #2e518b; 
padding: 10px; 
background-color: #2e518b; 
color: #ffffff; 
text-decoration: none; 
text-transform: uppercase; 
font-family: 'Helvetica', sans-serif; 
border-radius: 50px; 
    
    
    
}


